/* Start Global rules */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}
.p-5{
    padding: 4% 0;
}
.text-center{
    text-align: center;
}
.bg-a7a{
    background-color: #09c;
}
.text-white{
    color:white;
}
.text-black{
    color: black;
}
.bg-dark{
    background-color: #343A40;
}
.bg-white{
    background-color: whitesmoke;
}
.orange{
    color:#FF4500;
}
w-100{
    width: 100%;
}
.container{

    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin: auto;
    
}
.logo{
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', light;
}
.d-inline-block{
    display: inline-block;
}
ul {
    font-family: 'Segoe UI', light;
    padding-top: 4%;
    list-style: none;
}
a{
    text-decoration: none;
    margin-left: 19px;
    color: white;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
/* End Of Global rules */
/* Navbar start */
nav a:hover{
    color: #FF8B38;
    transition: all 0.2s;
}
/* Navbar End */
/* Home Start */
.home{
    background-image: url(./images/banner.jpg);
    background-position: center center;
    background-size: cover;
  
}
.home p{
    color: silver;
}
.caption h2{
    font-size: 80px;
    padding: 2%;
}
.caption{
    width: 45%;
}
.caption button{
    margin-top: 6%;
    border:2px solid #7fa6ce;
    padding: 10px 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    background-color: transparent;
    border-radius: 3px;
}
.caption button:hover{
    background-color: #FF4500;
    color: #ffffff;
    transition: all 0.2s;
}
.inputs{
    width: 45%;
}
.card{
    width: 70%;
    background-color: whitesmoke;
    margin-left: 30% ;
}
.card-header{
    width: 100%;
    color: #000000;
    background-color: #F5F5F5;
    text-align: center;
    font-size: 1.5rem;
}
.card input{
    background-color: whitesmoke;
    width: 80%;
    padding: 30px;
    border: none;
    border-bottom:solid #FF4500 ;
    display: block;
    margin: auto;
}
.card button{
    width: 100%;
    padding: 5%;
    background-color: #FF4500;
    color: white;
    font-size: 20px;
    border: none;
    
}
.card button:hover{
    background-color: #343A40;
    color: white;
    transition: all 0.4s;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.253);
    padding: 9% 0 ;
}
/* End Of Home  */
/* Social Section */
.social-caption{
    width: 30%;
    padding: 2% 0;
}
.social-caption h3{
    font-size: 1.9rem;
}
.social-caption p{
    color: silver;
}

.social-icon{
    width: 50%;
    padding: 2%;

}
.social-icon i {

        font-size: 2rem;
        color: #7fa6ce;
        margin-left: 4%;
        padding: 10px;
}
.social-icon i:hover{
    color: #FF4500;
    transition: all 0.2s;
}
/* End Of Social Section */
/* Start Of Features Section */
#features{
    background-color: #F5F5F5;
    padding: 8% 0;
}
.aside{
    width: 15%;
}
.Tabs{
    margin: 0;
    padding: 0;
}
.Tabs button{
    display: block;
    margin-bottom: 2px;
    padding: 20%;
    background-color: #343A40;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
}
.Tabs button:hover{
    background-color: #FF4500;
    transition: all 0.2s;
}
.features-caption{
    width: 50%;
}
.features-caption h4{
    font-size: 30px;
    padding-bottom: 8%;
}
.features-caption p{
   color: silver;
   padding-bottom: 8%;
}
.features-caption button{
    padding: 10px 30px;
    background-color: #FF8B38;
    color: #F5F5F5;
    border: none;
    border-radius: 3px;
}
.features-caption button:hover{
    background-color: #343A40;
    color: silver;
    transition: all 0.2s;
}

/* End Of Features Section */
.about-caption{
    width: 45%;
    padding: 8% 0;
   
}
.about-caption h3{
    font-size: 30px;
    padding-bottom: 30px;
    
}
.about-caption i{
    font-size: 2rem;
    color: #FF4500;
    border: 2px solid;
    border-radius: 50%;
}
.about-img{
    width: 45%;
    padding-top: 8%;
}
.about-img img{
    width: 100%;
}
.iconz{
    margin-top: 2%;
}
.iconz i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    text-align: center;
    font-size: 18px;
    margin-right: 30px;
    
}
hr{
    width: 14%;
    height: 5px;
    
    background-color: #Ff4500;
    border-radius: 9px;
}
.iconz p{
    margin-left: 80px;
    color: silver;
}
#about2{
    background-color: #F5F5F5;
}
#about2 .container{
    padding: 5% 0;
}
.headline h3{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #212121;
    line-height: 43px;
    text-align: center;
}
.headline p{
    text-align: center;
    margin-top: 50px;
    color: silver;
    margin-bottom: 3%;
}
.kalam{
    width: 25%;
    margin-left: 6%;
}
.kalam i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin-left: 108px;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    text-align: center;
    font-size: 30px;
    
}
.kalam h4{
    
    padding:6% 0 ;
    text-align: center;
}
.kalam p{
    color: silver;
}   
/* pricing  */
#pricing{
    background-color: #F5F5F5;
}
#pricing .card-p{
    width: 30%;
    color: white;
    border-radius: 9px;
    margin-left: 3%;
}
.card-title{
    background-color: #343434;
    color: white;
    padding: 4% ;
    font-size: 1.5rem;
    text-align: center;
}

.card-price{
    text-align: center;
    font-size: 3rem;
    background-color: #343434;
    border-top:  2px solid;
    border-bottom: solid 3px #FF4500;
    color: white;
}
.card-price i{
    font-size: 1.8rem;
}
.card-price p{
    font-size: 16px;
    font-style: italic;
    color: silver;
}
.card-text{
    text-align: center;
    color:silver;
    font-size: 1rem;
    background-color:#FFFFFF;
    border-bottom: 1px solid;
    padding: 5%;
}
.card-price2{
    text-align: center;
    font-size: 3rem;
    background-color: #343434;
    border-top:  2px solid;
    border-bottom: solid 3px #FF4500;
    color: white;
    padding: 5%;
}
.card-price2 p{
    font-size: 20px;
}
.caap{
    font-size: 20px;
    color: rgb(255, 249, 249);
    font-style: italic;
    background-color: #FF4500;
    text-align: center;
    padding: 2%;
}
/* reviwes */
#reviews{
    background-color: #FFFFFF;
}
/* .bg-test{
    background-color: #FF4500;
} */
.opinion{
    text-align: center;
    width: 30%;
    /* margin-left:11px ; */
    padding: 3% 0;
 
    
}
.opinion p{
    padding: 15% 0;
    background-color: #F5F5F5;

}
/* .img-round{
    position: absolute;
    top:110%;
    left:50%;
} */
 .img-round img {
    padding: 10% 0;
    width: 25%;
    /* background-color: #09c; */
 }
 .img-round{
    width: 100%;
    /* background-color: #ff0000; */
    text-align: center;
 }
/* .arrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F5F5F5;
    position: absolute;
    top: 100%;
    left: 56%;
} */
.baner{
    margin: 6% 0;
}
.sora{
    background-image: url(./images/news.jpg);
    background-position: center center;

}
.sora h3{
    color: rgb(255, 255, 255);
}
.sora .btn{
    margin-left: 45%;
    border:2px solid #ffffff;
    padding: 10px 30px;
    color: white;
    font-family: 'Segoe UI',light;
    background-color: transparent;
    border-radius: 3px;
}
.btn:hover{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Segoe UI', light;
    border:2px solid #000000;
    transition: all 0.2s;
}
/* Contact */
.e2{
    width: 45%;
    padding: 2% 0;
    margin-right: 4%;
  
   
}
.e2 input{
    background-color: whitesmoke;
    width: 100%;
    padding: 25px;
    border: none;
    border-bottom:solid #FF4500 ;
    display: block;
    margin: auto;
}
.e2 textarea {
    width: 100%;
    background-color: whitesmoke;
    width: 100%;
    border: none;
    height: 180px;
    border-bottom:solid #FF4500;
}
/* #contact button{
    background-color: #FF4500;
    border:2px solid #ff0000;
    padding: 10px 30px;
    color: #ffffff;
    font-family: 'Segoe UI',light;
    border-radius: 3px;
}
 button:hover{
    background-color: #212121;
    color: #ffffff;
    border:2px solid #ffffff;
    transition: all 0.4s;
   
} */
.bott{
    background-color: #FF4500;
    border:2px solid #ff0000;
    padding: 10px 30px;
    color: #ffffff;
    font-family: 'Segoe UI',light;
    border-radius: 3px;
    margin-left: 44%;
}
.bott:hover{
    background-color: #212121;
    color: #ffffff;
    border:2px solid #ffffff;
    transition: all 0.4s;
}
footer{
    margin-top: 3%;
    background-color: #212121;
    color: white;
    
    padding: 1% 0;
  

}
.iconn{
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin: auto;
    text-align: center;
    font-size: 26px;
}
footer i{
    margin-left: 15px;
}
footer i:hover{
    color: #ff0000;
    transform: rotate(360deg);
    transition: all 0.5s;

}
footer p{

    margin-top: 3px;
    text-align: center;
    color: silver;
}

/* Responsive start */

@media screen and (max-width:768px) {
    /* Navbar */
    .logo{
        width: 100%;
        text-align: center;
    }
    .otherlinks{
        text-align: center;
        width: 100%;
    }
    .otherlinks ul li{
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 3%;

    }
    /* home */
    .home{
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .caption{
                width: 100%;
                text-align: center;
            }
            .inputs {
                width: 100%;
                .card{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    /* social media  */

    .social{
        text-align: center;
        .container{
            .social-caption{
                width: 100%;
            }
            .social-icon{
                text-align: center;
                display: block;
                width: 100%;
            }
        }
    }
    /* Features */
    #features{
        .container{
            .aside{
                width: 100%;
                .Tabs{
                    /* width: 100%; */
                    display: flex;
                    flex-direction: column;
                }
            }
            .features-caption{
                width: 100%;
                text-align: center;
                padding: 20% 0;
            }
        }
    }
    /* about */
    #about{
        .container{
            display: flex;
            flex-direction: column;
            .about-img{
                width: 100%;
            }
            .about-caption {
                width: 100%;
                h3{
                    text-align: center;
                }
            }
        }

    }
    /* about2 */
    #about2{
        .container{
            display: flex;
            flex-direction: column;
            .features-caption{
                width: 100%;
            }
            .features-img{
                width: 100%;
                text-align: center;
                img{
                    width: 100%;
                }
            }
        }
    }
    /* awesome */
    #awesome{
        text-align: center;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .kalam{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 100%;
            }
        }
    }
    /* pricing */
    #pricing{
        .container{
            text-align: center;
            display: flex;
            flex-direction: column;
            .card-p{
                width: 100%;
                padding: 10% 0;
            }
        }
    }
    /* reviews */
    #reviews{
        .container{
            padding: 20% 0;
            .opinion{
                /* background-color: #09c; */
                width: 100%;
                }
            }
        
        }   
        .opinion-contain{
            display: flex;
            /* background-color: #09c; */
            flex-direction: column;
            width: 100%;
        }
        /* banner */
        .banner{
            .container{
                .headline{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    .headline-btn{
                        width: 100%;
                        text-align: center;
                    }
                }

            }
        }
        /* contat us  */
        #contact{
            .container{
                text-align: center;

            }
            .e2{
                width: 100%;
                form input{
                    margin: 10% 0;
                }
            }
        }
        /* footer */
        #footer{
            .container{
                iconn i{
                    margin: 0 10%;
                    width: 100%;
                }
            }
        }
    }
/* End of media query */